# URL do Backend (Docker ou Produção)
VITE_API_BASE_URL="http://localhost:3000/admin"

# Configurações do Supabase (Frontend)
VITE_SUPABASE_URL="https://your-project.supabase.co"
VITE_SUPABASE_ANON_KEY="your-anon-key"
